* {
    box-sizing: border-box;
    margin: 0;
    overflow-x:hidden;
    overflow-y:hidden;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    
}

.sky {
    position: absolute;
    animation: skies 400s infinite linear;
    left: 0;
}

.sky2{
    animation: skies 400s infinite linear;
    left: -100vw;
}

.sky3{
    animation: skies 400s infinite linear;
    left: -100vw;
}

.walls {
position: absolute;
background-color: transparent;
width: 100vw;
height: 70vw;
top: -150px;
z-index: 2;
left:0;
animation: skies 10s infinite linear;

}

.walls2 {
 left: -100vw;
  animation: skies 10s infinite linear;
    
    }

.walls3 {
 left: -200vw;
  animation: skies 10s infinite linear;
    
    }
    

.building2 {
position: absolute;
background-color: transparent;
width: 100vw;
height: 60vw;
top: -150px;
z-index: 1;
animation: skies 10s infinite linear;
}

.container {
    background-color: black;
    position: absolute;
    width: 100vw;
    height: 220px;
    bottom: -40px;
    z-index: 10;

}


.about {
    font-size: 24px;
    color: white;
    font-weight: bold;
    font-kerning: auto;
    position: absolute;
    top: 75px;
    right: 70vw;
    z-index:11;
    text-decoration: none;

}

.go {
     font-size: 24px;
    color: white;
    font-weight: bold;
    font-kerning: auto;
    position: absolute;
    top: 70px;
    right: 5vw;   
    z-index:11;
}

.logo {
    position: fixed;
    height: 22vh;
    width: 24vw;
}

.line {
    color: white;
    position: relative;
    height: 2px;
    width: 40vw;
    top: 75px;
    right: 70vw;
}



/* @keyframes skies {
    0% {
         transform:translate(0vw) rotate(0);
        left:0vw;
    }

    100% {
         transform:translate(200vw) rotate(0);
        left:100vw;
    }
} */