* {
    box-sizing: border-box;
    margin: 30px;
    overflow-x:hidden;
    background-color: black;
    
}


.logo {
    position: fixed;
    height: 10vh;
    width: 11vw;
    left:0vw;
}

.instructions {
    color: white;
    position: fixed;
    height: 15vh;
    width: 11vw;
    left:85vw;
    font-size: 18px;
}

.map1 {
    position: absolute;
    align-items: center;
    /* width: 70vw;
    height: 70vh; */
    left: -20vw;
    top: 0px;
    z-index:3;
    overflow-x:hidden;
    overflow-y:hidden;
    object-fit: 100%;
    scale:50%;

    
}

.map2 {
    position: absolute;
    /* width: 70vw;
    height: 70vh; */
    left: 0vw;
    top: 750px;
    z-index:2;
    overflow-x:hidden;
    overflow-y:hidden;
    scale:60%;
}

.next {
    position: absolute;
    width: 50vw;
    height: 60vh;
    background-color: transparent;
    right: 0;
    bottom: -1200px;
    z-index:2;
    padding: 50px;
}

.more {
    color: white;
    position: absolute;
    background-color: transparent;
    width: 55vw;
    height: 60vh;
    left: 50vw;
    bottom: -1300px;
    font-size: 18px;
    z-index: 3;
}



.back {
    font-size: 24px;
    color: white;
    font-weight: bold;
    font-kerning: auto;
    position: absolute;
    bottom: -950px;
    text-decoration: none;
    left: 0;
    animation: skies 20s infinite linear;
    z-index: 10;

}

@keyframes skies {
    0% {
         transform:translate(0vw) rotate(0);
        left:0vw;
    }

    100% {
         transform:translate(200vw) rotate(0);
        left:100vw;
    }
}